@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
  font-family: 'Work Sans', sans-serif;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --black: #000000;
  --grayGrid: #737e89;
  --fialova: #3e2093;
  --red: rgb(253, 16, 16);
  --gray444: #444;
  --bluex:#0e2431;
}

body {
	margin: 0;
	background: var(--white);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

/*HEADER*/
@media only screen and (min-width: 870px) {
h1{
  font-family: 'Work Sans', sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.main-hd {
  background: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-hd header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  height: 40px;
  width: 30px;
}
.logoText {
  float: left;
  padding: 10px 0;
  font-size: 15px;
  padding-left: 10px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: var(--gray444);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: var(--black);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--gray444);

  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
.main-mn {
  background-color:  var(--white);
}

.main-mn .flex-container {
  margin-left: 3%;
  padding-top: 5%;
  flex:1;
}

.navbar {
  display: none;
}
.xxx{
  display: block;
}
}/*
@media only screen and (max-width: 870px) {
  .navbar {
    display: block;
  }
  h1{display: none;}
  .nav-list{display: none;}
  .lupaResponsive {
    width: 5%;
  }
  .logo {
    padding: 10px 0;
    height: 40px;
    width: 30px;
  }
  .logoText {
    float: left;
    padding: 10px 0;
    font-size: 15px;
    padding-left: 10px;
  }
  .container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  background-color: var(--red);
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}



.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--bluex);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: var(--bluex);
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
}*/
/*Middle*/
.content {
  max-width: 100%;
  margin: 0;
  padding: 5% 15% 10% 15%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  gap: 5em;
  flex-flow: wrap;
}

.main-mn h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;

}

.box { 
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: var(--white);
  border-color: rgb(75, 150, 171);
  border-style: solid;
  flex-wrap: wrap;
  column-gap: 10px;
}

.boximg {
  width: 60%;
  padding: 18% 20%;
  border-radius: 50%;
  overflow: hidden;
}


.boximg:hover {
  color: rgb(72, 82, 82);
  background-color: rgb(220, 75, 87);
  filter: invert(100%);
}

.main-mn .context {
  text-align: center;
  text-decoration: none;
  color: var(--black);
  position: static;
}
  
.contrast:hover{
  color: rgb(2, 2, 2);
}

.box:hover{
  color: rgb(42, 176, 176);
  text-decoration: underline;
  border-color: var(--black);
}


@media screen and (max-width: 200px){
  .box{
    width: 40%;
  }
}

@media screen and (max-width: 200px){
  .box{
    width: 90%;
  }
}

.main-mn .flex-container p {
  padding: 2%;
}

.main-mn .box p {
  padding: 5%;
}

.main-mn h3 {
  padding: 5%;
}

.main-mn flex-contact {
  display: flex ;
}

.main-mn .contact {
  padding: 10% 0 0 5%;
}

.main-mn .contact p {
  padding: 5% 0 0 0;
  font-size: large;
}

@media only screen and (max-width: 500px) {
  .image {
     display: none;
  }
}

img {
  padding-top: 3%;
  width: 100%;
  height: auto;
}

.backimg {
  max-height: 71vh;
  overflow: hidden;
}


@media screen and (max-width:800px)
{
  .main-mn .backimg 
  {
    display: none;
  }
}

@media screen and (max-width:800px)
{
  .main-mn HR
  {
    display: none;
  }
}

/*Footer*/
.ft ul {
    list-style: none;
    padding-left: 0;
}
.ft {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
.ft a {
    text-decoration: none;
    color: #eee;
}
.ft a:hover {
    text-decoration: underline;
}
.ft-title {
    color: var(--white);
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
  padding: 1% 1%;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-item {
  min-width: 3% /*200px*/;
}

@media (max-width: 550px) {

  .ft-main {
    padding: 1% 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    TEXT-ALIGN: CENTER;
  }
  .ft-legal-list{
    justify-content: center;
  }

}
@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
      justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
      justify-content: space-evenly;
  }
}

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px rgb(134, 132, 132) solid;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 351px) {
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
.ft-legal-list li:nth-last-child(2) {
  flex: 1;      
}
}
@media (max-width: 350px) {

  .ft-legal-list li {
    white-space: normal;
}
}
/* mapa */
.mapa {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.mapa iframe {
  width: 100%;
  height: 100%;
  border: 0;
}


/* informace */

.information {
  width: 80%;
  min-height: 800px;
  background: #e5e5e5;
}

@media (min-width: 870px) {
  .information {
    border-top-right-radius: 30PX;
    border-top-left-radius: 30px;
  }
}

.clanky {
  height: 100%;
  width: 100%;
  float: none;
  display: table;
  padding-top: 1rem;

}

@media (min-width: 1215px) {
   .clanky{
    float: left;
    width: 50%;
  }
}

.clanky a:link {
  text-decoration: none;
  color: var(--black);
}
.clanky a:hover {
  text-decoration: underline;
}

.clanky a:visited {
  text-decoration: none;
  color: var(--black);
}
.clanky ul {
  padding-left: 0;
}
.clanky ul, li {
  list-style: none;
}
.clanky header {
  width: 100%;
  min-height: 48px;
}
.clanky h3 {
  padding: 1rem;
  margin: 0;
}

.date {
  text-align: right;
  width: 98%;
}
.center{
  margin: 0 auto;
  text-align: center;
}
.main-clanky {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0px;
  text-align:justify;
  font-weight: normal;
}

/*    Clanek   */

@media only screen and (min-width: 870px) {

  .kontejner {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 870px) {
  .kontejner {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
}
.datum {
  text-align: right;
  width: 98%;
  padding-top: 1rem;
}

.main-clanek {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0px;
  text-align:justify;
  font-weight: normal;
  min-height: 600px;
}
.clanek {
  height: 100%;
  width: 100%;
  float: none;
  display: table;


}

.obsah {
  width: 80%;
  height: 100%;
  background-color: #e5e5e5;

}
@media (min-width: 870px) {
  .obsah {
    border-top-right-radius: 30PX;
    border-top-left-radius: 30px;
  }
}
/*    Nová stránka 'Search'   */
.main-mn div.input label {
  
  font-size: 23px;
  font-weight: 600;
  color: var(--fialova);
}

.main-mn div.input input[type=text]{
  padding-top: 2%;
  padding-bottom:2%;
}

.search-container {
  text-align: center;
}

.main-mn .input {
  width: 75%;
  padding-top:15%;
  padding-left: 15%;
  flex: 1 1 auto;
}

.main-mn input {
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

body > main > div > div > form > div.hledejBtn > button 
 {
  color: var(--white);
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--fialova);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-mn .button
{
  color: var(--white);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--fialova);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-mn .hledejBtn {
  padding-top: 7%;
  padding-bottom: 10%;
}

.main-mn .rectangle {
  height: 20%;
  width: 100%;
  background-color: rgb(201, 208, 240);
  border-color: #0275d8;

}

.main-mn  .breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;

}

.drobecek {
  padding-top: 4em;
  padding-left: 6%;
}


@media  screen and (max-width:870px) {
  .drobecek {
    padding-top: 0em;
  }
}

.main-mn .drobecek li {
  display: inline;
  font-size: 90%;
}

.drobecek li+li:before {
  padding: 8px;
  color: rgb(255, 0, 0);
  content: ">\00a0";

}

.drobecek li a {
  color: #0275d8;
  text-decoration: none;
  padding-left: 5%;

}

.drobecek li a:hover {
  color: #08788f;
  text-decoration: underline;
}

.clankySearch {
  height: 100%;
  width: 100%;
  float: none;
  display: table;
  background-color: #00000017;
  padding-top: 1rem;

}

.clankySearch header {
  width: 100%;
  min-height: 20%;
}
.clankySearch h3 {
  padding: 1rem;
  margin: 0;
}
section{
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png');
  background-size: contain;
  height: auto;
}
.two-column-wrapper{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}
 
@media screen and (min-width: 700px){
  .two-column-wrapper{
    padding: 30px;
    max-width: 780px;
    margin: auto;}
}
.text{
  margin-bottom: 20px}
  
@media screen and (min-width: 700px){
  .text{
    margin-bottom: 0}}
    

h4{
  font-size: 25px;
}

/*  Kontakt */
.containerContact{
  background: rgb(201, 208, 240);
  border-radius: 50px;
  padding: 5% 5% 5% 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.containerContact .contentContact{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerContact .contentContact .levaStrana{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.contentContact .levaStrana::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.contentContact .levaStrana .detaily{
  margin: 14px;
  text-align: center;
}
.contentContact .levaStrana .detaily i{
  font-size: 30px;
  color: var(--fialova);
  margin-bottom: 10px;
}
.contentContact .levaStrana .detaily .tema{
  font-size: 18px;
  font-weight: 500;
}
.contentContact .levaStrana .detaily .text-one,
.contentContact .levaStrana .detaily .text-two{
  font-size: 14px;
  color: #afafb6;
}
.containerContact .contentContact .prava-strana{
  width: 75%;
  margin-left: 75px;
}
.contentContact .prava-strana .tema-text{
  font-size: 23px;
  font-weight: 600;
  color: var(--fialova);
}
.prava-strana .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.prava-strana .input-box input,
.prava-strana .input-box textarea{
  height: 80%;
  width: 70%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.prava-strana .message-box{
  min-height: 110px;
}
.prava-strana .input-box textarea{
  padding-top: 6px;
}
.prava-strana .button{
  display: inline-block;
  margin-top: 12px;
}
.prava-strana .button-kontakt input[type="button"]{
  color: var(--white);
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: var(--fialova);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-kontakt input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .containerContact{
    width: 90%;
    padding: 30px 0px 40px 35px ;
  }
  .containerContact .contentContact .prava-strana{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .containerContact{
    margin: 40px 0;
    height: 100%;
  }
  .containerContact .contentContact{
    flex-direction: column-reverse;
  }
  
 .containerContact .contentContact .levaStrana{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .containerContact .contentContact .levaStrana::before{
   display: none;
 }
 .containerContact .contentContact .prava-strana{
   width: 100%;
   margin-left: 0;
 }
}

/*    Zaměstnanci */
h4{
  font-size: 25px;
}

html {
  box-sizing: border-box;
}

row:before,row:after {
  box-sizing: inherit;
}

.column {

  width: 100%;
  display: block;
}

@media screen and (min-width: 1419px) {
  .column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  float: none;
  display: table;
  min-height: 420px;

}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: var(--white);
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.imgEmploy{
  width: 42%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgEmploy2{
  width: 42%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imgEmploy3{
  width: 42%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row, .row:before, .row:after { box-sizing: inherit; }

hr { width: 60%; size: 1%; color: grey noshade;}

.grid-item {
  background-color: var(--grayGrid);
  color: var(--white);
  padding: 1rem;
  height: 4rem;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}
.grid-item1{
  grid-area: 1 / 1 / 4 / 2;
  background-color: var(--grayGrid);
  color: var(--white);
  padding: 1rem;
}
.grid-item8{
  grid-area: 1 / 3 / 3 / 4;
  background-color: var(--grayGrid);
  color: var(--white);
  padding: 1rem;
}
@media (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}